repos:
  - repo: https://github.com/ilsenatorov/pre-commit-jupyter
    rev: v1.3.2
    hooks:
      - id: jupyter-notebook-cleanup
        args: [--remove-cell-metadata, --remove-kernel-metadata]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.5
    hooks:
      - id: ruff
        args: [ --fix, --extend-select, I, --show-fixes ]
      - id: ruff-format
